@font-face {
    font-family: 'exo_2.0light_italic';
    src: url('../fonts/Exo2.0-LightItalic-webfont.eot');
    src: url('../fonts/Exo2.0-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Exo2.0-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Exo2.0-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Exo2.0-LightItalic-webfont.svg#exo_2.0light_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* This font face inherits and overrides the previous font face, but only for chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'exo_2.0light_italic';
src: url('../fonts/Exo2.0-LightItalic-webfont.svg#exo_2.0light_italic') format('svg');
}}

html{
	width:100%;
	}

body{
	width: 100%;
	background:#135a6f;
}

.site-font *{
font-family: 'exo_2.0light_italic',Verdana;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
 font-weight: normal;
}

.logo{
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top:50px;
	width:170px;
}

.centerblock{
	display:block;
	margin-left: auto;
    margin-right: auto;
}

h1.site-title{
	color:#e1ff79;
	text-align:center;
	font-size: 50px;
	margin-top: 0.2em;
	text-shadow: 2px 2px 0px rgb( 2, 51, 66 );
}

.buscar-btn, .busqueda{
	outline: none;
	margin-top: 20px;
}
	
.buscar-btn {
	border-width: 3px;
	border-color: rgb( 0, 174, 239 );
	border-style: dashed;
	border-radius: 12px;
	background-color: rgb( 0, 128, 187 );
	width: 130px;
	height: 40px;
	font-size: 20px;
	color:white;
}

.busqueda {
	border:0px;
	border-radius: 9px;
	background-color: rgb( 15, 66, 81 );
	width: 325px;
	height: 45px;
	color: white;
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;
}